@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 20px;
}

a {
    background-color: darkcyan;
    color: white;
    margin: 20px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

/* Pseudoclase del selector <a> :link , :visited, :hover y :active*/

a:hover {
    background-color: orangered;
    color: black;
    border: black solid 3px;
}

a:link {
    background-color: blue;
}

a:visited {
    background-color: aqua;
    color: black;
}

a:active {
    background-color: palevioletred;
}

.circulo {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: pink;
}

/* .circulo:hover {
    background-color: aqua;
    border-radius: 100%;
    border: black solid 3px;

} */

/* Pseudoelementos */

div::before {
    content: "Se muestra al principio";
    color: red;
}
   
div::after {
    content: "Se muestra al final";
    color: blue;
}
